<h1><%= @user.username %></h1>

<h2>Secrets this user has received</h2>
<em>Why are these displayed??</em>

<ul>
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>

<h2>Leave a "Secret"</h2>

<%= render partial: 'shared/secret_form', locals: { secret: @secret } %>

<script>
	$('form').on('ajax:success', function (event, data) {
		// Create li from title
		var $li = $('<li></li>');
		// console.log(data);
		$li.text(data.title);
		$('ul').append($li);
		// Blank the form
		$(this).find('#secret_title').val("");
	});


</script>